.footer{
  width: 100vw;
  height: 15vh;
  background-color: rgba(98,137,164);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.study-title{
  width: 60%;
  padding: 7px 25px;
  margin: 2vh 0 2vh 2vw;
  border-radius: 4px;
  font-size: 24px;
  color: black;
  background-color: #fff;
}

.footer-nav{
  display: flex;
  min-width: 200px;
  margin: 1vh 5vw 1vh 0;
  list-style-type: none;
}

.study-edit-btn{
  text-decoration:none;
  margin-right: 5vw;
  padding: 1.5vh 1.6vw;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.study-new-finish-btn{
  text-decoration: none;
  padding: 1.5vh 1.6vw;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}