.header{
  width: 100vw;
  padding: 2vh 3vw;
  background-color: rgba(98,137,164);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name a{
  width: 185px;
  height: 49px;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.header-nav{
  display: flex;
  min-width: 200px;
}

.mypage{
  text-decoration: none;
  margin-right: 3vw;
  color: #fff;
  font-weight: bold;
}

.logout{
  text-decoration: none;
  color: #fff;
}