.header{
  width: 100vw;
  padding: 1vh 3vw;
  background-color: rgba(98,137,164);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name a{
  width: 185px;
  height: 49px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.header-nav{
  display: flex;
  min-width: 200px;
  margin-right: 7vw;
  text-decoration: none;
  list-style-type: none;
}

.mypage{
  text-decoration: none;
  margin-right: 5vw;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.logout{
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}