<footer div class="footer">
  <div class="study-title">
    <% if current_user.studies.present? %>
      学習タイトル：<%= current_user.studies.last.title %>
    <% else %>
      学習を始めましょう！
    <% end %>
  </div>
  <ul class="footer-nav">
    <li><%= link_to "編集する", edit_study_path(current_user.studies.last), class: "study-edit-btn" if current_user.studies.present? %></li>
    <li><%= link_to "学習開始", new_study_path, class: "study-new-finish-btn" %></li>
  </ul>
</div>