<footer div class="footer">
  <div class="study-title">
    学習を始めましょう！
  </div>
  <ul class="footer-nav">
    <li><%= link_to "編集する", "#", class: "study-edit-btn" %></li>
    <li><%= link_to "学習開始", "#", class: "study-new-finish-btn" %></li>
  </ul>
</div>