<header class="header">
  <div class="app-name">
    <% if user_signed_in? %>
      <%= link_to "Study Room", room_path(current_user.room), local: true %>
    <% else %>
      <%= link_to "Study Room", root_path, local: true %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <ul class="header-nav">
      <li><%= link_to "マイページ", user_path(current_user), class:"mypage-btn" %>
      <li><%= link_to "退室する", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout-btn" %>
    </ul>
  <% end %>
</header>